.main{
    .container{
        display: flex;
        margin:20px 30px 20px 30px;
        overflow-x: auto;
        min-height:550px;
        padding-bottom: 0;
            .board{
                display: flex
            }

            .add-list-btn{  
                margin-top:10px;
                min-width:300px;
                height:40px;
                background-color: rgba(6, 60, 122, 0.747);
                color:white;
                text-align:center;
                font-size:20px;
                    .add-list-text{
                    font-size:25px;
                    margin-top: 10px; 
                    }

                &:hover{
                    background-color:rgba(201, 197, 197, 0.5);
                    cursor: pointer;
                    color:rgb(49, 46, 46);
                }
            }
    }
    
    
}